/* Sheared styles */
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Montserrat&family=Poppins:wght@400;500;600;700&family=Raleway&family=Saira+Condensed:wght@200;400;500;700&family=Spirax&family=Work+Sans:wght@200;400;500;600;700&display=swap');

* {
    font-family: 'Bacasime Antique', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Spirax', cursive;
    font-family: 'Work Sans', sans-serif;
}


/* Header Section Start */
.container {
    margin-left: 100px;
    margin-right: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.header-container>ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

#search {
    border: none;
    background-color: white;
}

#card {
    border: none;
    background-color: white;
}

/* Header Banner Section */
.header-banner {
    display: flex;
    justify-content: space-between;
}

.banner-photos {
    position: relative;
}

.inner {
    position: absolute;
    top: 10px;
}

.heading-text {
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    width: 582px;
}

.header-description {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    width: 505px;
    margin-bottom: 30px;
}

.btn-header {
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    padding: 10px 24px;
}
.fa-solid {
    margin-left: 10px;
}